.footerSection {
    background-color: #ebedf0;
    border-top: 1px solid #ebedf0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.copyright span a{
    text-decoration: none;
    color: #e21f36;
    font-weight: 700;
}
.privacyPart{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    font-weight: 700;
    text-align: right;
}
.privacyPart .pri1:hover,
.privacyPart .pri2:hover{
    color: #e21f36;
}

/* Responsive */

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footerSection .col-6{
        width: 100%;
    }
    .footerSection .copyright {
        text-align: center;
        margin-bottom: 10px;
    }
    .footerSection .privacyPart {
        text-align: center;
    }
}
/* Large Moblie & lansapce tablet */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footerSection .col-6{
        width: 100%;
    }
    .footerSection .copyright {
        text-align: center;
        margin-bottom: 10px;
    }
    .footerSection .privacyPart {
        text-align: center;
    }
}
/* Small Device */
@media only screen and (min-width: 320px) and (max-width: 575px) {
    .footerSection .col-6{
        width: 100%;
    }
    .footerSection .copyright {
        text-align: center;
        margin-bottom: 10px;
    }
    .footerSection .privacyPart {
        text-align: center;
    }
}