.signupBanner-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    color: rgb(245, 135, 10);
    font-size: 20px;
    font-weight: 700;
}
.bannerTitleLink{
    list-style-type: none;
    display: flex;
    margin: 0;
}
.bannerTitleLink li{
    margin-right: 10px;
}
.bannerTitleLink li a{
    text-decoration: none;
    color: rgb(245, 135, 10);
}
.signupImg img{
    width: 100%;
}